#container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 360px;
    height: 500px;
    background-color: rgb(47, 54, 47);
    border-radius: 12px;
}
#screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #8BAC0F;
    color: #000000;
    width: 340px;
    height: 80px;
    margin: 10px;
    font-size: 50px;
}
#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.operator {
    background-color: #FFA500;
}
#equal {
    background-color: #66CCFF;
}
#decimal {
    background-color: #66CCFF;
}
#clear {
    margin: 10px;
    width: 160px;
    background-color: #FF4136;
    color: #FFFFFF;
}
button {
    width: 75px;
    height: 70px;
    font-size: 40px;
    border-radius: 8px;
    border-style: solid;
    border-color: #000000;
}

body {
    display: flex;
    justify-content: center;
}